name: api.postman

on:
  workflow_dispatch:

jobs:
  smoketests:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@master
    
# INstall Node on the runner
      - name: Install Node
        uses: actions/setup-node@v1
        with: 
         node-version: '16.x'
    
    # Install the newman command line utility and also install the html extra reporter
      - name: Install newman
        run: |
         npm install -g newman         
         npm install -g newman-reporter-htmlextra
         npm run build

    # Make directory to upload the test results
      - name: Make Directory for results
        run: mkdir -p testResults
        
    # Run the POSTMAN collection
      - name: Run POSTMAN collection
        run: |
         newman run ./tests/Petstore.postman_collection.json -e ./tests/Petstorenv.postman_environment.json -r htmlextra --reporter-htmlextra-export testResults/htmlreport.html --reporter-htmlextra-darkTheme  > testResults/runreport1.html

    # Upload the contents of Test Results directory to workspace
      - name: Output the run Details
        uses: actions/upload-artifact@v3
        with: 
         name: RunReports
         path: .next/
     
